.date-picker-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.card {
  max-width: 500px;
}

.MuiDialog-paper {
  border-radius: 16px !important;
  padding: 24px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.MuiDialogTitle-root {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.MuiDialogContent-root {
  text-align: center;
  font-size: 1rem;
  color: #555;
}


.MuiPickersPopper-paper {
  border-radius: 12px !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
}

.asktoborrow-button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}